<!-- No need to edit this -->
{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Welcome</h1>
    <h3>Want to learn more about the solar system? You're at the right place!</h3>
    <hr>
    <p>
        Check out the <a href="/planets">list of planets</a> in our solar system
    </p>
    <p>
        Miss Pluto? Look under <a href="/dwarf-planets">dwarf planets</a> ;)
    </p>
    <p>
        Get a <a href="random-fact">random planet fact</a> today!
    </p>
{% endblock %}
