/* No need to edit this unless you want to add your own styles */

body {
    background-color: azure;
    color: darkslategray;
    font-size: large;
}

main {
    margin: auto;
    max-width: 80%;
}

.red-text {
    color: rgb(216, 62, 62)
}

.blue-text {
    color: rgb(77, 77, 219)
}

/* You can add more styles here */